/* CSS RESET */
*::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
input, button, textarea, select {
    font: inherit;
  }
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/*-----------*/
body{
    display: flex;
    justify-content: center;
}

.container{
    border: 1px black solid;
    width: 70vw;
    height: auto;
}

.header{
    text-align: center;
    padding-top: 2.5rem;
    background-color: aqua;
}

.container .body{
    border: 1px red solid;
}
dialog{
  margin: auto;
}

button#updateBook{
  width: 100%;
}

form div {
    margin: 1rem;
  }
  
  label,
  input,
  textarea
  button,
  select{
    font-size: 1.3rem;
  }
  
  form {
    width: 40em;
    max-width: 90%;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 0.4rem;
    display: block;
  }
  
  input,
  textarea {
    padding: 0.4rem;
    width: 90%;
  }
  
  button.save{
    border-radius: 29px;
    background-color: #405cf5;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    border-width: 0;
    padding: 0 1rem;
    width: 90%;
    height: 50px;
    text-align: center;
   }
   
  form .checkbox *{
    width: auto;
    display: inline;
  }

  .output{
    border: 1px solid orange;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .output .content{
    padding: 1.5rem;
    
  }
  ul,li{
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    cursor: pointer;
    font-size: 1.5rem;
  }
  div.delBtn{
    position: relative;
  }

  button.delete{
    margin: 1px;
    color: gray;
    position: absolute;
    right: 0px;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  button.delete:hover{
    border: 1px gray solid;
  }
  .output .card{
    border: 1px solid blue;
  }

